
.item{
    color:greenyellow;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgb(180, 148, 211);
}

.img {
    width: 100px;
    margin-left: -24px;
}
.itemImg {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;

}
.imgAndMessage {
    display: flex;
}
.likes {
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    justify-content: flex-end;
}
.likes span {
    margin-right: 5px;
}
.message {
    display: flex;
    align-items: center;
    padding-left: 10px;
}