.nav{
    grid-area: n;
    background-color: rgb(180, 148, 211);
    padding: 20px;
  }

.item{
    color:white;
    text-decoration: none;
}

/* .item a.activeLink{
  color: gold
} */

.active{
  color: gold;
}